<form [formGroup]="bankForm">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col">
                <label>Name</label><br>
                <input type="text" formControlName="name">
            </div>
            <br><br>
            <div class="col">
                <label>Number</label><br>
                <input type="number" formControlName="number">
            </div>
            <br><br>
            <div class="col">
                <label>Date</label><br>
                <input type="month" placeholder="month year" formControlName="date">
            </div>
        </div>
        <br><br>
        <div class="row">
            <input hidden type="file" id="file" #fileInput (change)="uploadFile($event.target.files)" accept=".csv" class="form-control" (click)="fileInput.value = ''" />
            <div class="col-3">
                <button type="button" (click)="fileInput.click()">Upload CSU</button>
            </div>
            <div class="col-3">
                <button type="button" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
    <br><br>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Date</th>
        </thead>
        <tbody >
            <tr *ngFor="let bank of bankDetails">
                <td> {{bank.name}} </td>
                <td>
                  {{bank.number}}
               </td>
               <td>
                  {{bank.date}}
               </td>
            </tr>
        </tbody>
    </table>
</form>